<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hype That!</title>
    <form action="/search" method="post">
    <label>Music</label>
    <input id="search-query" type="text" name="searchQuery" placeholder="Search Your Music"></input>
    </form>
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <!-- js files -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script                                 src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  </head>

  <body>

<button id="b1" type="button" class="ci">Crickets</button>
<br>
<button id="b2" type="button" class="ci">Deez Nuts</button>
<br>
<button id="b3" type="button" class="ci">Really Nigga?</button>
<br>
<button id="b4" type="button" class="ci">Air Horn</button>
<br>
<button id="b5" type="button" class="ci">Shotgun</button>
<br>
<button id="b6" type="button" class="ci">Mm Whatcha Say?</button>
<br>

<button onclick="document.getElementById('Crickets').play()">Crickets</button>
<audio id="Crickets">
  <source src="/crickets.mp3">
</audio>
<button onclick="document.getElementById('Air_Horn').play()">Air Horn</button>
<audio id="Air_Horn">
  <source src="/air_horn.m4a">
</audio>
<button onclick="document.getElementById('Crickets').play()">Crickets</button>
<audio id="Crickets">
  <source src="/crickets.mp3">
</audio>
<button onclick="document.getElementById('Crickets').play()">Crickets</button>
<audio id="Crickets">
  <source src="/crickets.mp3">
</audio>
<button onclick="document.getElementById('Crickets').play()">Crickets</button>
<audio id="Crickets">
  <source src="/crickets.mp3">
</audio>
<button onclick="document.getElementById('Crickets').play()">Crickets</button>
<audio id="Crickets">
  <source src="/crickets.mp3">
</audio>

  </body>



</html>
=======
<form action="/search" method="post">
<label>Music</label>
<input id="search-query" type="text" name="search" placeholder="Search Your Music"></input>
<button type="submit">Go!</button>
</form>
